<div style="display: flex;height: 720px;justify-content: center;align-items: center;">
    <div class="mycalc">
        <input type="text" name="text" [(ngModel)]="toshow">
        <div class="all-btn">
            <div class="all-btn-numbers">
                <button (click)="addDigit('1')">1</button>
                <button (click)="addDigit('2')">2</button>
                <button (click)="addDigit('3')">3</button>
                <button (click)="addDigit('4')">4</button>
                <button (click)="addDigit('5')">5</button>
                <button (click)="addDigit('6')">6</button>
                <button (click)="addDigit('7')">7</button>
                <button (click)="addDigit('8')">8</button>
                <button (click)="addDigit('9')">9</button>
                <button (click)="addDigit('0')">0</button>
                <div class="btn-extra">
                    <button (click)="addDigit('.')">.</button>
                    <button (click)="back()">x</button>
                </div>
            </div>
            <div class="all-btn-signs">
                <button (click)="addOperator('+')">+</button>
                <button (click)="addOperator('-')">-</button>
                <button (click)="addOperator('*')">*</button>
                <button (click)="addOperator('/')">/</button>
            </div>
        </div>
        <div class="btn-clear-equals">
            <button id="clear" (click)="clear()">C</button>
            <button id="equals" (click)="equals()">=</button>
        </div>
    </div>
</div>